.container .list_footer{
    .ci-4{background-image: url("../../img/1.png");background-color:#fff;}
    .ci-5{background-image: url("../../img/1.png");background-color:#fff;}
    .ci-6{background-image: url("../../img/2.png");background-color:#F76D2F;}
}
.container .list_ul{
    p{color:#000;margin:0;text-align:left;line-height:75px;font-weight:400;}
    .carlist-money{margin:0;}
    .carlist-div1{padding-top: 0;}
}
.container .list-hao{width:500px;border:1px solid #000;}
.container .list-button{width:100%;}
.container .dingdan{text-align:center;}