.container header{position:relative;}
// .container header .ci-list{
//     display:block;
//      width: 20px;
//     height: 20px;
//     background-image: url("../../img/1.png");
//     background-position:-45px 40px;
//     top:30px;
//     left:40px;
//    }
.container .list-ul-c div{padding-left:30px;line-height:100px;}
.container .list-ul-c span{float:left;}
.container .list-span{display:block;float:left;}
.container p{color:#ffffff;text-align:center;margin-top:120px;}
.container .list-ul div {background-color:#F3F1F4;}
.container .list-ul li{margin-top:0px;float:left}
.container .list-ul span{display:block;float:left;width:200px;height:100px;background:#FC673C;color:#ffffff;line-height:100px;}
