#header{background:url('../../img/h1.jpg') no-repeat ; background-size:100%; 
    h1{color:red; text-align:center;}
    >span{float:right;
        i{padding:0 20px; cursor:pointer; font-size:none;}
    }
}
#main{background-color:#fff; }
.bill_6{float:left; margin-left:30px; border:2px solid #ccc; margin-top:20px;
    img{width:60px; height:60px; float:left;}
    >ul{display:none;
        >li{ margin:10px 0px; border-bottom:5px solid #ffeb3b; padding:10px 5px; float:none;}
    }
}
.bill_6{
    >h3{text-align:center; width:280px; line-height:40px; position:relative; cursor:pointer;

        >span{background-color:skyblue; position:absolute; top:0px; right:0px; cursor:pointer; display:none;}
    }
}
.bill {
        h2{background-color:skyblue; text-align:center; margin:0 auto; cursor:pointer;}
}

.menu{padding:0 50px; background:skyblue; float:left; height:600px;
    li{line-height:50px; border-radius:5px 5px; width:100px; text-align:center; float:none;
        p{height:0px; background:skyblue; display:none;
            &:hover{background:#fff; border-radius:5px 5px;}
        }
        &:hover{background:#fff;}   
    }
    .menu_p{background:#fff;}
}


.form_row{float:left; width:70%;}
.row{padding-top:30px; width:100%;
    .col-xs-2 {width:60%;}
    >div{
        >span{display:inline-block; font-size:20px;padding:0 20px 0 40px;}
        >input{display:inline-block; width:50%; }
        >select{display:inline-block; width:50%;}
        >i{color:red;}
    }
}
