.Adm{float:left;width:500px;
    table{ 
        thead{
            th{padding:0 10px;}
        }
        tbody{
            tr{
                td{padding:0 10px; text-align:center; padding-top:30px;}
            }
        }
    }
    img{width:100px; height:100px;}
}
.row{padding-top:30px;}
.btn_ton{text-align:center; padding:50px 0px;}