body,html{width: 100%;}
body,dl,dd,h1,h2,h3,h4,h5,h6,p,form{margin:0;}
ol,ul{margin:0; padding:0;}
ul,ol,li{list-style:none;}
img{
    display:block;
    border:0 none;}
input{
    outline:none;}
body{
    font-family:"微软雅黑";
    height: 100%;
}
a{
    text-decoration:none;
    display:block;
}
/*版心容器的样式*/
.con{
    width: 985px;
    margin:0 auto;
    height: 100%;
}
/*左浮动*/
.fl{float:left;}
/*右浮动*/
.fr{float:right;}
/* 清除浮动 */
.clear{
    display:block;
    content:"";
    height: 0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
    zoom:1;
}

#header{background:url('../../img/h1.jpg') no-repeat ; background-size:100%; 
    h1{color:red; text-align:center;}
    span{float:right;
        i{padding:0 20px; cursor:pointer; font-size:none;}
    }
}
#main{background-color:#fff; }
.bill_6{float:left; margin-left:30px; border:2px solid #ccc; margin-top:20px;}
.bill {
    h3{text-align:center; width:280px; line-height:40px; position:relative; cursor:pointer;}
        span{background-color:skyblue; position:absolute; top:0px; right:0px; cursor:pointer; display:none;}
}
.bill {
    ul{display:none;

        h2{background-color:skyblue; text-align:center; margin:0 auto; cursor:pointer;}
    }
}
.bill {
    li{ margin:10px 0px; border-bottom:5px solid #ffeb3b; padding:10px 5px;}
}
.bill {
    img{width:60px; height:60px; float:left;}
}
.menu{padding:0 50px; background:skyblue; float:left; height:600px;
    li{line-height:50px; border-radius:5px 5px; width:100px; text-align:center; 
        p{height:0px; background:skyblue; display:none;
            &:hover{background:#fff; border-radius:5px 5px;}
        }
        &:hover{background:#fff;}   
    }
    .menu_p{background:#fff;}
}

