#datagrid p{color:#000;margin:0;}
.name-c{font-size:28px;font-weight:bold;}
.foodlist-c li{
    position:relative;width:296px;height: 370px;padding:0 10px;
    span{font-size:25px;}
}
.foodlist-c img{width:250px;height: 250px;}
.tianjia-c{width: 45px;height: 68px;background-image: url("../../img/1.png");background-size:1500px;position:absolute;background-position:1500px 212px;bottom: 6px;right: 37px;}
.jiage-c{color:#F76D2F;font-weight:bold;}
.fl-toolbar{ background: #fff;text-align:right;}
.btn-goback{background-color: #e6674a;border-color: #e6674a}
.form-horizontal{margin-top:10px;}