.container .my_footer{
    .ci-4{background-image: url("../../img/1.png");background-color:#fff;}
    .ci-5{background-image: url("../../img/1.png");background-color:#fff;}
    .ci-6{background-image: url("../../img/1.png");background-color:#fff;}
    .ci-7{background-image: url("../../img/2.png");background-color:#F76D2F;}
}