#app{height:100%;}
.container{font-size:40px;}
.container{height:100%;display:flex;flex-direction:column;width:100%;}
.container header{width:100%;height:200px;background-color:#F76D2F;border-sizing:border-box;color:#ffffff;}
.container header input{width:300px;color:#000000;}
.container .body{flex:1;width:100%; overflow-y:auto;}
.container .ci-1{
    width: 60px;
    height: 60px;
    background-image: url("../../img/2.png");
    background-size:1300px;
    position:absolute;
    background-position:109px 303px;
    top: 15px;
    right: 136px;
}
.container .ctime{position:absolute;right:20px;}
.container .home-div{height:100px;}
.container header ul{
    display:flex;
   justify-content: space-around;
}
.container header ul li{position:relative;}
.container .ci-2{
    width: 60px;
    height: 60px;
    background-image: url("../../img/2.png");
    background-size:1300px;
    position:absolute;
    background-position:1243px -200px;
    top: 8px;
    left:-64px;
}
.container .ci-3{
    width: 60px;
    height: 60px;
    background-size:1300px;
    background-image: url("../../img/2.png");
    position:absolute;
    background-position:-1422px 0px;
    top:6px;
    right:20px;
}
.container .body .ctimg-1{width:100%;}
.container .body .c-ul1{line-height:100px;}
.active{color:#F76D2F;}
.container footer{height:150px;border-top:1px solid #ccc;}
.container .body .c-ul1,.container footer .home-c{
    display:flex;
    justify-content: space-around;
    height:150px;
}
.container footer ul li{
    margin-top:35px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
}
.container .ci-4{
    width: 44px;
    height: 44px;
    background-image: url("../../img/2.png");
    background-size:1300px;
    background-position:1038px -200px;
    margin:0 auto;
    background-color:#F76D2F;
}
.container .ci-5{
     width: 44px;
    height: 44px;
    background-image: url("../../img/1.png");
    background-size:1300px;
    margin:0 auto;
    background-position:1036px -330px;   
}
.container .ci-6{
    width: 44px;
    height: 44px;
    background-image: url("../../img/1.png");
    background-size:1300px;
    margin:0 auto;
    background-position:1869px -506px;
}
.container .ci-7{
     width: 44px;
    height: 44px;
    background-image: url("../../img/1.png");
    background-size:1300px;
    margin:0 auto;
    background-position:-463px 0px;  
}
.fixed{position:fixed;top:190px;left:0;z-index:999;background: #fff;width:100%;}
.fl-toolbar{width: 100%;height: 50px;padding: 10px 20px;border-bottom: solid 1px #ccc;}

.container .zhuohao{width:40px;border-radius:10px;}
.container{padding-left:0;padding-right:0;}
